.Stories {
  // section

  .Story {
    // div.row
    display: flex;
    align-items: center;

    @include for-phone-landscape {
      display: block;
    }
  }

  .Story-1 {
    // div.row
  }

  .Story-2 {
    // div.row
    @include for-phone-landscape {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
