.Footer {
  text-align: center;
  background: $color-gray-dark-1;
  color: $color-white;
  font-size: 1.5rem;
  font-weight: 300;

  p {
    padding: 0rem;
  }

  a {
    text-decoration: none;
  }

  .Logo {
    text-align: center;
    margin: auto;
    margin-bottom: 3rem;
  }

  .social-icons-bar {
    text-align: center;
    display: block;
    margin: auto;
  }

  .impressum {
    margin-top: 3rem;
  }
}
