.container {
  max-width: 975px;
  margin: auto;
}

.container-fluid {
  width: 100%;
}

.row {
  @include clearfix;
}

.m-auto {
  margin: auto;
}

// .col
@for $i from 1 through 12 {
  .col-#{$i} {
    width: 8.33% * $i;
    float: left;
    padding: 0 10px;

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
}

@for $i from 0 through 5 {
  .px-#{$i} {
    padding-left: 10px * $i;
    padding-right: 10px * $i;
  }
}

@for $i from 0 through 5 {
  .py-#{$i} {
    padding-top: 10px * $i;
    padding-bottom: 10px * $i;
  }
}

@for $i from 0 through 5 {
  .mx-#{$i} {
    margin-left: 10px * $i;
    margin-right: 10px * $i;
  }
}

@for $i from 0 through 5 {
  .my-#{$i} {
    margin-top: 10px * $i;
    margin-right: 10px * $i;
  }
}

@media screen and (max-width: 1200px) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      width: 8.33% * $i;
      float: left;
      padding: 0 10px;

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }

  @for $i from 0 through 5 {
    .px-lg-#{$i} {
      padding-left: 10px * $i;
      padding-right: 10px * $i;
    }
  }

  @for $i from 0 through 5 {
    .py-lg-#{$i} {
      padding-top: 10px * $i;
      padding-bottom: 10px * $i;
    }
  }
}

@media screen and (max-width: 900px) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      width: 8.33% * $i;
      float: left;
      padding: 0 10px;

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }

  @for $i from 0 through 5 {
    .px-md-#{$i} {
      padding-left: 10px * $i;
      padding-right: 10px * $i;
    }
  }

  @for $i from 0 through 5 {
    .py-md-#{$i} {
      padding-top: 10px * $i;
      padding-bottom: 10px * $i;
    }
  }
}

@media screen and (max-width: 600px) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      width: 8.33% * $i;
      float: left;
      padding: 0 10px;

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }

  @for $i from 0 through 5 {
    .px-sm-#{$i} {
      padding-left: 10px * $i;
      padding-right: 10px * $i;
    }
  }
  @for $i from 0 through 5 {
    .py-sm-#{$i} {
      padding-top: 10px * $i;
      padding-bottom: 10px * $i;
    }
  }
}

@media screen and (max-width: 400px) {
  @for $i from 1 through 12 {
    .col-xs-#{$i} {
      width: 8.33% * $i;
      float: left;
      padding: 0 10px;

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }

  @for $i from 0 through 5 {
    .px-xs-#{$i} {
      padding-left: 10px * $i;
      padding-right: 10px * $i;
    }
  }

  @for $i from 0 through 5 {
    .py-xs-#{$i} {
      padding-top: 10px * $i;
      padding-bottom: 10px * $i;
    }
  }
}
