.Indicators {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;

  .Indicator {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 1px solid $color-white;
    margin: 1.5rem;

    &.active {
      background: $color-gray-light-1;
    }

    @include for-tablet-vertical {
      margin: 0.5rem;
    }
  }

  @include for-phone-landscape {
    display: none;
  }
}
