.Heading {
  // <h1>
  color: $color-white;
  font-size: 9rem;
  font-family: "Mrs Saint Delafield", cursive;

  @include for-tablet-vertical {
    font-size: 7.5rem;
  }

  @include for-phone-landscape {
    font-size: 6rem;
  }
}
