$color-primary: #870d10;
$color-secondary: #ffaeaa;

$color-gray-light-1: #f2f2f2;
$color-gray-light-2: #e3e3e3;

$color-gray-dark-1: #333333;

$color-white: #fff;
$color-black: #000;

$color-green: #3c9231;

$backdrop: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
